USE [MyCountry]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyCountry].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyCountry]
GO
/****** Object:  Table [dbo].[devvn_quanhuyen]    Script Date: 12/08/2017 11:57:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devvn_quanhuyen](
	[maqh] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[matp] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__devvn_qu__7A21E80B44A57598] PRIMARY KEY CLUSTERED 
(
	[maqh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[devvn_tinhthanhpho]    Script Date: 12/08/2017 11:57:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devvn_tinhthanhpho](
	[matp] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__devvn_ti__7A217E1365FB2712] PRIMARY KEY CLUSTERED 
(
	[matp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[devvn_quanhuyen] ([maqh], [name], [type], [matp]) VALUES (N'001', N'Quận Ba Đình', N'Quận', N'01')
INSERT [dbo].[devvn_quanhuyen] ([maqh], [name], [type], [matp]) VALUES (N'002', N'Quận Hoàn Kiếm', N'Quận', N'01')
INSERT [dbo].[devvn_quanhuyen] ([maqh], [name], [type], [matp]) VALUES (N'003', N'Quận Tây Hồ', N'Quận', N'01')
GO
INSERT [dbo].[devvn_tinhthanhpho] ([matp], [name], [type]) VALUES (N'01', N'Thành phố Hà Nội', N'Thành phố Trung ương')
INSERT [dbo].[devvn_tinhthanhpho] ([matp], [name], [type]) VALUES (N'02', N'Tỉnh Hà Giang', N'Tỉnh')
INSERT [dbo].[devvn_tinhthanhpho] ([matp], [name], [type]) VALUES (N'04', N'Tỉnh Cao Bằng', N'Tỉnh')
USE [master]
GO
